body{

    background-color:lightgray;
    text-align: justify;

}

h1{

    background-color: black;
    margin:-10px;
    padding: 15px;
    color: white;
    text-align: right;
    font-family: sans-serif;
    
}


h2{

    margin-left: 20%;
    margin-right: 20%;
    border-bottom: white 5px solid;
    text-align: justify;
    font-family: sans-serif;
}

p{

    margin-left: 20%;
    margin-right: 20%;
    font-family: sans-serif;

}
p.fecha{

    border-top: black 3px solid;
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;


}

time{

    padding: 5px;
    background-color: gray;
    color: white;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 5px;
    
}

q {

    border-bottom: red 1px dashed;
    font-family: serif;
    font-size: 150%;


}

span{

    background-color: white;
    color: red;

}

span.lugar{

    background-color:unset;
    color: blue;


}



